$tint: #EF431D;
$font: 'MyndraineRegular', sans-serif;

/* NOTE: THE MYNDRAINE FONT IS NOT PROVIDED WITH THIS PAGE. PLEASE GO TO FONTSQUIRREL.COM
AND DOWNLOAD THE @FONT-FACE KIT FOR MYNDRAINE */

@font-face {
    font-family: 'MyndraineRegular';
    src: url('../fonts/Myndraine-webfont.eot');
    src: url('../fonts/Myndraine-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Myndraine-webfont.woff') format('woff'),
         url('../fonts/Myndraine-webfont.ttf') format('truetype'),
         url('../fonts/Myndraine-webfont.svg#MyndraineRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.logo {
	span {
		color: $tint;
	}
}
.share{
	a:hover {
		&::before {
			color: $tint;
		}
	}	
	.vote i::after {
		color: $tint;
	}
}
.name {
	.links {
		a:hover {
			background: $tint;
		}
	}
}
.specimen {
	p {
		em {
			color: $tint;
		}
	}
}
.annotation {
	.type {
		color: $tint;
	}
}

.similar {
	h1, h2 {
		color: $tint;
	}
}

.specimen {
	p {
		font-family: $font;
	}
}

.annotation {
	font-family: $font;
}
.styles {
	h1, h2, h3, h4, h5, h6, p, div {
		font-family: $font;
	}
}
.legibility {
	h1, h2, h3, h4, h5, h6 {
		font-family: $font;
	}
}